* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: linear-gradient(120deg, #0f2027, #203a43, #2c5364);
  min-height: 100vh;
  padding: 30px;
  color: white;
}

/* ---------- Title ---------- */
h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-shadow: 0 0 6px rgba(77,166,255,0.6);
}

/* ---------- Summary Cards ---------- */
.summary {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

.box {
  flex: 1;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.box h3 {
  font-size: 1rem;
  opacity: 0.8;
}

.box p {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0 0 6px rgba(0,255,204,0.6);
}

.income { border-left: 5px solid #00ff99; }
.expense { border-left: 5px solid #ff4d4d; }
.balance { border-left: 5px solid #4da6ff; }

.income p { color:#00ff99; }
.expense p { color:#ff4d4d; }
.balance p { color:#4da6ff; }

/* ---------- Form ---------- */
.form {
  background: rgba(255,255,255,0.12);
  backdrop-filter: blur(10px);
  max-width: 400px;
  margin: auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.form input,
.form select {
  background: rgba(255,255,255,0.15);
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  color: white;
  margin-bottom: 12px;
  box-shadow: 0 0 6px rgba(0,255,153,0.4);
}

.form input::placeholder {
  color: #ddd;
}

.form button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(45deg,#00ff99,#4da6ff);
  color: black;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,255,153,0.7);
}

.form button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(77,166,255,0.9);
}

/* ---------- Month Filter ---------- */
#monthFilter {
  display: block;
  margin: 20px auto;
  padding: 12px 18px;
  border-radius: 12px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.15);
  color: white;
  box-shadow: 0 0 12px rgba(77,166,255,0.4);
}

/* ---------- Table ---------- */
table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  overflow: hidden;
}

th {
  background: rgba(0,0,0,0.4);
  padding: 15px;
}

td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

/* ---------- Save Button ---------- */
.saveBtn {
  margin: 20px auto;
  display: block;
  padding: 12px 25px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(45deg,#00ff99,#4da6ff);
  color: black;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0,255,153,0.7);
}

.saveBtn:hover {
  box-shadow: 0 0 25px rgba(77,166,255,0.9);
}


